.AboutUs {
  font-family: "Pally", sans-serif;
}

/* @media (min-width: 1025px) and (max-width: 1440px) {
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg"); 
      background-repeat: no-repeat;
      background-size: 100vw 125vh;
      width: 100%;
      height: 125vh;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px)  {
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 95vh;
      width: 100%; 
      height: 95vh;
    }
  }
  
  @media (min-width: 426px) and (max-width: 767px)  {
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895468/M%C3%B3vil_grande_o_tablet_1_wkltpd.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 90vh;
      width: 100%; 
      height: 90vh;
    }

  }
  

  @media (min-width: 320px) and (max-width: 425px)  {
    .AboutUs{
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 90vh;
      width: 100%; 
      height: 90vh;
    }
    
  }
   */

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio FUNCIONA */
@media (min-width: 1440px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 125vh;
    width: 100%;
    height: 125vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 2.6vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 2vw;
    text-align: justify;
    color: #0066cc;
    font-size: 1.7vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 1.5vw;
  }

  .about-image {
    width: 30vw;
    height: 24vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Ordenador portátil medio FUNCIONA */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 55vw;
    width: 100%;
    height: 55vw;
  }
  .title-About {
    margin: 3vw;
    font-weight: bold;
    font-size: 2.6vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 1.2vw;
    text-align: justify;
    color: #0066cc;
    font-size: 1.6vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 1.5vh;
    text-align: justify;
    color: #ffa500;
    font-size: 1.4vw;
  }

  .about-image {
    width: 32vw;
    height: 26vw;
    border-radius: 35px;
  }
}

/* Dimensiones Ordenador Pequeño FUNCIONA*/
@media (min-width: 900px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 125vh;
    width: 100%;
    height: 125vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 4.2vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3.5vw;
    text-align: justify;
    color: #0066cc;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 3vw;
  }

  .about-image {
    width: 58vw;
    height: 38vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 900px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 110vh;
    width: 100%;
    height: 110vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 4.2vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3.5vw;
    text-align: justify;
    color: #0066cc;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 3vw;
  }

  .about-image {
    width: 58vw;
    height: 38vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 800px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 125vh;
    width: 100%;
    height: 125vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 4.2vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3.5vw;
    text-align: justify;
    color: #0066cc;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 3vw;
  }

  .about-image {
    width: 58vw;
    height: 38vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Tablet 5*/
@media (min-width: 730px) and (max-width: 768px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    width: 100%;
    height: 120vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 4.2vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3.5vw;
    text-align: justify;
    color: #0066cc;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 3vw;
  }

  .about-image {
    width: 58vw;
    height: 38vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 730px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    width: 100%;
    height: 120vh;
  }
  .title-About {
    margin: 5vw;
    font-weight: bold;
    font-size: 4.2vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .text-about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3.5vw;
    text-align: justify;
    color: #0066cc;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .text-about2 {
    margin-left: 2.8vw;
    margin-bottom: 2vh;
    text-align: justify;
    color: #ffa500;
    font-size: 3vw;
  }

  .about-image {
    width: 58vw;
    height: 38vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Samsung Galaxy Tab S4 */
@media (min-width: 712px) and (max-width: 720px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  3 */
@media (min-width: 700px) and (max-width: 712px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  2 */
@media (min-width: 680px) and (max-width: 700px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  1 */
@media (min-width: 650px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}
/* Dimensiones del Blackberry Playbook */
@media (min-width: 620px) and (max-width: 640px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Blackberry Playbook */
@media (min-width: 600px) and (max-width: 620px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 600px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 560px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones  Mediano-grande 2 */
@media (min-width: 510px) and (max-width: 530px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 496px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px) and (max-width: 480px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 430px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 426px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 414px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 392px) and (max-width: 410px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 390px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 374px) and (max-width: 384px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .AboutUs {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 405vw;
    width: 100%;
    height: 400vw;
  }

  .title-About {
    padding-top: 8vh;
    margin: 5vw;
    font-weight: bold;
    font-size: 6vh;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .text-about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 6vw;
    text-align: justify;
    color: #0066cc;
    font-size: 4.5vh;
    font-weight: bold;
  }
  .text-about2 {
    text-align: justify;
    color: #ffa500;
    font-size: 5vw;
    margin: 2vh;
  }

  .about-image {
    width: 80vw;
    height: 60vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .AboutUs {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 405vw;
    width: 100%;
    height: 400vw;
  }

  .title-About {
    padding-top: 8vh;
    margin: 5vw;
    font-weight: bold;
    font-size: 6vh;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .text-about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 6vw;
    text-align: justify;
    color: #0066cc;
    font-size: 4.5vh;
    font-weight: bold;
  }
  .text-about2 {
    text-align: justify;
    color: #ffa500;
    font-size: 5vw;
    margin: 2vh;
  }

  .about-image {
    width: 80vw;
    height: 60vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 360px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .AboutUs {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 405vw;
    width: 100%;
    height: 400vw;
  }

  .title-About {
    padding-top: 8vh;
    margin: 5vw;
    font-weight: bold;
    font-size: 6vh;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .text-about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 6vw;
    text-align: justify;
    color: #0066cc;
    font-size: 4.5vh;
    font-weight: bold;
  }
  .text-about2 {
    text-align: justify;
    color: #ffa500;
    font-size: 5vw;
    margin: 2vh;
  }

  .about-image {
    width: 80vw;
    height: 60vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 344px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .AboutUs {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 165vh;
    width: 100%;
    height: 160vh;
  }
  .title-About {
    padding-top: 3vh;
    margin: 3vw;
    font-weight: bold;
    font-size: 7vw;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .text-about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 3vw;
    text-align: justify;
    color: #0066cc;
    font-size: 5.2vw;
    font-weight: bold;
  }
  .text-about2 {
    text-align: justify;
    color: #ffa500;
    font-size: 4.5vw;
    margin: 2vw;
  }
  .about-image {
    width: 70vw;
    height: 60vw;
    border-radius: 35px;
  }
}

/* Dimensiones del Jio Phone 2 FUNCIONA BIEN */
@media (min-width: 240px) and (max-width: 320px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .AboutUs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 310vh;
    width: 100%;
    height: 300vh;
  }

  .title-About {
    padding-top: 8vh;
    margin: 5vw;
    font-weight: bold;
    font-size: 6vh;
    color: #ffa500;
  }
  .About-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .text-about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-about1 {
    margin: 6vw;
    text-align: justify;
    color: #0066cc;
    font-size: 4.5vh;
    font-weight: bold;
  }
  .text-about2 {
    text-align: justify;
    color: #ffa500;
    font-size: 5vw;
    margin: 2vh;
  }

  .about-image {
    width: 80vw;
    height: 60vw;
    border-radius: 35px;
  }
}
