.AboutUs {
    font-family: "Pally", sans-serif;
  }
.title-About{
    font-weight: bold;
    font-size: 2.6vw;
    color: #ffa500;
}  
.About-Content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.text-about {
  width: 45vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-about1{
  text-align: justify;
  color: #0066CC;
  font-size: 1.7vw;
  font-weight: bold;
}
.text-about2{
  text-align: justify;
  color: #ffa500;
  font-size: 1.5vw;
}

.about-image {
  width: 30vw;
  height: 24vw;
  border-radius: 35px;
}

  /* Dimensiones del Ordenador de Escritorio*/
  @media (min-width: 1441px) and (max-width: 2560px) {
    /* Estilos para pantallas de portátiles medianos */
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 125vh;
      width: 100%; /* Ancho del cuerpo */
      height: 125vh;
    }

  }
  /* Dimensiones del Ordenador portátil medio */
  @media (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos para pantallas de portátiles medianos */
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg"); 
      background-repeat: no-repeat;
      background-size: 100vw 125vh;
      width: 100%; /* Ancho del cuerpo */
      height: 125vh;
    }
  }
  
  /* Dimensiones del Móvil Grande o Tablet */
  @media (min-width: 768px) and (max-width: 1024px)  {
    /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895472/Ordenador_de_escritorio_medio_1_csqjev.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 95vh;
      width: 100%; /* Ancho del cuerpo */
      height: 95vh;
    }
  }
  
  /* Dimensiones del Móvil Mediano */
  @media (min-width: 426px) and (max-width: 767px)  {
    /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    .AboutUs {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895468/M%C3%B3vil_grande_o_tablet_1_wkltpd.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 90vh;
      width: 100%; /* Ancho del cuerpo */
      height: 90vh;
    }

  }
  
  
  /* Dimensiones del Móvil FUNCIONA BIEN */
  @media (min-width: 320px) and (max-width: 425px)  {
    /* Estilos para dispositivos móviles con estas dimensiones */
    .AboutUs{
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895466/M%C3%B3vil_peque%C3%B1o_1_sejp9q.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 90vh;
      width: 100%; /* Ancho del cuerpo */
      height: 90vh;
    }
    
  }
  