.contact{
  font-family: "Pally", sans-serif;
}

/* Dimensiones del Ordenador de Escritorio*/
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .contact {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895457/Ordenador_de_escritorio_medio_3_gl8vcl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}
/* Dimensiones del Ordenador portátil medio */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .contact {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895457/Ordenador_de_escritorio_medio_3_gl8vcl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 115vh;
    width: 100%; /* Ancho del cuerpo */
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

 input {
    width: 40vw; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
    border: 2px solid #00FF00; /* Cambia el color y el ancho del borde */
    border-radius: 20px; /* Aumenta el redondeo de las esquinas */
    background-color: #F0F0F0; /* Cambia el color de fondo */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace la fuente más gruesa */
    padding: 10px; /* Agrega espacio interno */
  }

  
  .card-contact{
    display: flex;
    width: 30rem;
    height: 30rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  .tittle-contact{
    font-weight: bold;
    font-size: 2vw;
    color: #ffa500;
  }
  .text-contact{
    text-align: justify;
    color: #0066cc;
    font-size: 1.2vw;
    font-weight: bold;
  }

  .button-contact {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 15px; /* Para darle la forma redondeada */
    padding: 10px 15px;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .button-contact:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
    color: #0066CC;
  }

  .button-contact.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
    color: #0066CC;
  }
}

/* Dimensiones del Móvil Grande o Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895456/Ordenador_port%C3%A1til_medio_3_tn31cy.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895455/M%C3%B3vil_grande_o_tablet_3_tiuhgs.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio FUNCIONA */
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Ordenador portátil medio FUNCIONA */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones Ordenador PequeñoFUNCIONA*/
@media (min-width: 900px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 899px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 799px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Tablet 5*/
@media (min-width: 730px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 729px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Samsung Galaxy Tab S4 */
@media (min-width: 712px) and (max-width: 719px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  3 */
@media (min-width: 700px) and (max-width: 711px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  2 */
@media (min-width: 681px) and (max-width: 699px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  1 */
@media (min-width: 651px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}
/* Dimensiones del Blackberry Playbook */
@media (min-width: 620px) and (max-width: 639px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Blackberry Playbook */
@media (min-width: 600px) and (max-width: 619px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 160vw;
    width: 100%;
    height: 160vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 84vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 599px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 559px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones  Mediano-grande 2 */
@media (min-width: 511px) and (max-width: 529px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 495px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px) and (max-width: 479px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 182vw;
    width: 100%;
    height: 182vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 429px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 413px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 393px) and (max-width: 409px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 389px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 375px) and (max-width: 383px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 359px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 343px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 206vw;
    width: 100%;
    height: 206vw;
  }
.card-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .tittle-contact{
  margin-right: 10vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 5vw;
  color: #ffa500;
 }
 .text-contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
  margin-right: 11vw;
  margin-left: 11vw;
  text-align: justify;
  color: #0066cc;
  font-size: 4vw;
  font-weight: bold;
 }

 input[type="name"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
input[type="phone"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
 input[type="email"] {
  width: 85vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
}
textarea[type="message"] {
  width: 83vw; /* Adjust the width as needed */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
}

.button-contact {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 4.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}

}

/* Dimensiones del Jio Phone 2 FUNCIONA BIEN */
@media (min-width: 240px) and (max-width: 319px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .contact {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895454/M%C3%B3vil_peque%C3%B1o_3_fd7zae.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 250vh;
    width: 100%;
    height: 250vh;
  }
 .tittle-contact{
  font-weight: bold;
  font-size: 2vw;
  color: #ffa500;

 }
 .text-contact{
  text-align: justify;
  color: #0066cc;
  font-size: 1.2vw;
  font-weight: bold;
 }

 .card-contact{
  width: 30vw;
  height: 35vw;
 }
 input {
  width: 35vw;
  color: rgb(0, 102, 204);
  border: 1px solid rgb(0, 153, 255);
  border-radius: 15px;
 }
 

}


