.Identity {
  color: white;
  font-family: "Pally", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Dimensiones del Ordenador de Escritorio*/
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    background-repeat: no-repeat;
    background-size: 100vw 110vh;
    width: 100%; /* Ancho del cuerpo */
    height: 110vh;
  }
  .Identity-part1 {
    padding-top: 3vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 30vh;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 30vh;
    flex-direction: column;
    align-content: center;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.2vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 10vh;
    font-size: 1.8vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 20px; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-top: 3px;
    font-size: 1.5vw;
    font-weight: bold;
  }
}
/* Dimensiones del Ordenador portátil medio */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    background-repeat: no-repeat;
    background-size: 100vw 665vw;
    width: 100%; /* Ancho del cuerpo */
    height: 65vw;
  }

  .Identity-part1 {
    padding-top: 3vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 30vh;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 30vh;
    flex-direction: column;
    align-content: center;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.2vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 10vh;
    font-size: 1.8vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 20px; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Grande o Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio FUNCIONA */
@media (min-width: 144px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Ordenador portátil medio FUNCIONA */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones Ordenador PequeñoFUNCIONA*/
@media (min-width: 900px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 900px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
}

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 800px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Tablet 5*/
@media (min-width: 730px) and (max-width: 768px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 730px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Samsung Galaxy Tab S4 */
@media (min-width: 712px) and (max-width: 720px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  3 */
@media (min-width: 700px) and (max-width: 712px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  2 */
@media (min-width: 681px) and (max-width: 700px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table  1 */
@media (min-width: 650px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}
/* Dimensiones del Blackberry Playbook */
@media (min-width: 620px) and (max-width: 640px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
}

/* Dimensiones del Blackberry Playbook */
@media (min-width: 600px) and (max-width: 620px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 20vw;
    height: 20vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 20vw;
    height: 20vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 600px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 560px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones  Mediano-grande 2 */
@media (min-width: 510px) and (max-width: 530px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 496px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px) and (max-width: 480px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 430px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 426px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 414px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 392px) and (max-width: 410px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 390px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 374px) and (max-width: 384px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 360px) {
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 344px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
    height: 500vw;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    font-size: 5vw;
    font-weight: bold;
    margin: 4vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 4.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 25vw;
    height: 25vw;
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    width: 25vw;
    height: 25vw;
    padding: 2vw;
  }
  .Identity-text {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
  }
}

/* Dimensiones del Jio Phone 2 FUNCIONA BIEN */
@media (min-width: 240px) and (max-width: 320px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%; /* Ancho del cuerpo */
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    padding-top: 10vh;
    font-size: 8vw;
  }

  .Text1 {
    padding: 2vh;
    font-size: 6vw;
    text-align: justify;
  }
  .Identity-image {
    width: 30vw;
    height: 30vw;
  }
  .Icons {
    padding: 4vh;
  }

  .Identity-image1 {
    width: 30vw;
    height: 30vw;
  }
  .Identity-text {
    margin-top: 3px;
    font-size: 6vw;
    font-weight: bold;
  }
}
