.Identity {
  color: white;
  font-family: "Pally", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio*/
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 65vw;
  }
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}
/* Dimensiones del Ordenador portátil medio */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 65vw;
  }
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones Ordenador PequeñoFUNCIONA*/
@media (min-width: 900px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 66vw;
  }
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 900px) {
  /* Estilos para pantallas de portátiles medianos */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 69vw;
  }
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones de Tablet general*/

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 800px) {
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 70vw;
  }
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }

  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Tablet 5*/
@media (min-width: 731px) and (max-width: 768px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 72vw;
  }
  
  .Identity-part1 {
    padding-top: 1vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .Identity-mision {
    display: flex;
    width: 30vw;
    height: 20vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Mision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Identity-vision {
    display: flex;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    text-align: justify;
  }
  .tittle-Vision {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
  }
  .Text1 {
    font-size: 1.5vw;
  }
  .Identity-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-tittle {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2vw;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Identity-image1 {
    width: 5vw;
    height: 5vw;
  }
  .Identity-image {
    width: 7vw;
    height: 7vw;
  }
  .Identity-Icons {
    width: 90%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }

  .Icons {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Icons-1 {
    width: 29vw;
    height: 9vw;
  }
  .Icons1 {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
  .Identity-text1 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 730px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Samsung Galaxy Tab S4 */
@media (min-width: 712px) and (max-width: 720px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }


  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del table  3 */
@media (min-width: 701px) and (max-width: 711px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del table  2 */
@media (min-width: 681px) and (max-width: 700px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del table  1 */
@media (min-width: 650px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Blackberry Playbook */
@media (min-width: 600px) and (max-width: 640px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 215vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 600px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 218vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 560px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 218vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones  Mediano-grande 2 */
@media (min-width: 510px) and (max-width: 530px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 218vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 220vw;
  }

  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 2.5vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}


/* CELULARES*/

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 496px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px) and (max-width: 480px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 430px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 426px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 414px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 392px) and (max-width: 410px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 235vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 390px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 240vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 374px) and (max-width: 384px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 240vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 245vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 360px) {
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 245vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Móvil LISTO */
@media (min-width: 320px) and (max-width: 344px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    width: 100%;
    height: 250vw;
  }
  .Identity-tittle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw;
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .Text1 {
    padding-right: 15vw;
    padding-left: 15vw;
    font-size: 3vw;
    text-align: justify;
  }
  .Identity-image {
    width: 13vw;
    height: 13vw;
  }
  .Identity-Icons {
    width: 100%;
    display: grid; /* Set the container to use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Define 3 columns of equal width */
    grid-gap: 1vw; /* Optional: Add spacing between divs */
  }
  .Icons {
    padding: 1.5vw;
  }

  .Identity-image1 {
    margin: 1vw;
    width: 13vw;
    height: 13vw;
  }

  .Identity-text {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .Icons1 {
    margin: 20px;
    flex-direction: row;
    align-items: center;
  }
  .Identity-text1 {
    margin: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
  }
}

/* Dimensiones del Jio Phone 2 LISTO*/
@media (min-width: 240px) and (max-width: 319px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Identity {
    background-color: #ff9933;
    height: 700vw;
    width: 100%;
  }
  .Identity-part1 {
    padding-top: 10vw;
  }

  .Identity-tittle {
    padding-left: 10vw;
    padding-top: 10vw;
    padding-right: 10vw;
    font-size: 8vw;
  }

  .Text1 {
    padding: 8vw;
    font-size: 6vw;
    text-align: justify;
  }
  .Identity-image {
    width: 30vw;
    height: 30vw;
  }
  .Icons {
    padding: 4vw;
  }

  .Identity-image1 {
    width: 30vw;
    height: 30vw;
  }
  .Identity-text {
    margin-top: 3px;
    font-size: 6vw;
    font-weight: bold;
  }
}
