.presentation {
  font-family: "Pally", sans-serif;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio FUNCIONA */
@media (min-width: 1440px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
  .Prestext {
    color: white;
    width: 48vw;
    height: 20vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 3vw;
  }
  .Prestext-text {
    font-size: 1.5vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Ordenador portátil medio FUNCIONA */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
  .Prestext {
    color: white;
    width: 45vw;
    height: 15vh;
    margin-bottom: 3vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 2.5vw;
  }
  .Prestext-text {
    font-size: 1.4vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size:1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
  }
}

/* Dimensiones Ordenador PequeñoFUNCIONA*/
@media (min-width: 900px) and (max-width: 1025px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    /* Estilos para pantallas de portátiles medianos */
    .presentation {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 75vh;
      width: 100%; /* Ancho del cuerpo */
      height: 75vh;
    }
    .Prestext {
      color: white;
      width: 45vw;
      height: 20vh;
    }
    .Prestext-title {
      font-weight: bold;
      font-size: 3.3vh;
    }
    .Prestext-text {
      font-size: 1.8vh;
    }
    .pres-button {
      font-weight: bold;
      background-color: #ffa500; /* Naranja */
      color: #fff;
      border: none;
      border-radius: 20px; /* Para darle la forma redondeada */
      padding: 5px 15px;
      font-size: 2.3vw;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 35vw;
    height: 26vh;
    border-radius: 50%;
  }
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 900px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    /* Estilos para pantallas de portátiles medianos */
    .presentation {
      background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
      background-repeat: no-repeat;
      background-size: 100vw 95vh;
      width: 100%; /* Ancho del cuerpo */
      height: 95vh;
    }
    .Prestext {
      color: white;
      width: 45vw;
      height: 20vh;
    }
    .Prestext-title {
      font-weight: bold;
      font-size: 5vw;
    }
    .Prestext-text {
      font-size: 2.5vw;
    }
    .pres-button {
      font-weight: bold;
      background-color: #ffa500; /* Naranja */
      color: #fff;
      border: none;
      border-radius: 20px; /* Para darle la forma redondeada */
      padding: 5px 15px;
      font-size: 2.6vw;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 800px){
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 80vh;
  }
  .Prestext {
    margin-top: 3vh;
    color: white;
    width: 45vw;
    height: 25vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vw;
  }
  .Prestext-text {
    font-size: 2.1vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size:  2.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Tablet 5*/
@media (min-width: 730px) and (max-width: 768px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    width: 100%; /* Ancho del cuerpo */
    height: 80vh;
  }
  .Prestext {
    margin-top: 3vh;
    color: white;
    width: 45vw;
    height: 25vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vw;
  }
  .Prestext-text {
    font-size: 2.2vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size:  2.3vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 730px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895480/Ordenador_de_escritorio_medio_e5igxw.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    width: 100%; /* Ancho del cuerpo */
    height: 80vh;
  }
  .Prestext {
    margin-top: 3vh;
    color: white;
    width: 50vw;
    height: 35vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vw;
  }
  .Prestext-text {
    font-size: 1.5vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Samsung Galaxy Tab S4  Funciona*/
@media (min-width: 712px) and  (max-width: 720px){
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 50vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 5vw;
  }
  .Prestext-text {
    font-size: 2.5vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 2.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1vw;
    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
  }
}

/* Dimensiones del table  3 */
@media (min-width: 700px) and (max-width: 712px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 60vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 3vw;
  }
  .Prestext-text {
    font-size: 1.8vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del table  2 */
@media (min-width: 680px) and (max-width: 700px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 50vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 3vw;
  }
  .Prestext-text {
    font-size: 1.8vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del table  1 */
@media (min-width: 650px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 50vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 3vw;
  }
  .Prestext-text {
    font-size: 1.8vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and  (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 50vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.1vh;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}
/* Dimensiones del Blackberry Playbook */
@media (min-width: 620px) and (max-width: 640px)  {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895476/M%C3%B3vil_grande_o_tablet_qteizl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 82vh;
    width: 100%; /* Ancho del cuerpo */
    height: 82vh;
  }
  .Prestext {
    margin-bottom: 2.5rem;
    color: white;
    width: 50vw;
    height: 15vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 2vw;
  }
  .Prestext-text {
    font-size: 1vw;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Blackberry Playbook FUNCIONA */
@media (min-width: 600px) and (max-width: 620px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 111vw;
    width: 100%; /* Ancho del cuerpo */
    height: 111vw;
  }
 
  .Prestext {
    color: white;
    width: 75vw;
    height: 40vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 5vw;
}
  .Prestext-text {
    font-size: 3vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 3.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
}
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 600px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 560px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}
/* Dimensiones  Mediano-grande 2 */
@media (min-width: 510px) and (max-width: 530px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 496px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .Prestext {
    margin-top: 3vh;
    color: white;
    width: 70vw;
    height: 36vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }
  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }
  .PresImg {
    margin-top: 2vh;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }

}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px)  and (max-width: 480px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 430px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 426px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
  .leftSide{
    height: 100vw;
  }
  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 414px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }

  .Prestext {
    color: white;
    width: 75vw;
    height: 38vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 4vh;
  }
  .Prestext-text {
    font-size: 2.5vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 392px) and (max-width: 410px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }  
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }  
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 390px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }  
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 374px) and (max-width: 384px) {
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }  
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 185vw;
    width: 100%;
    height: 185vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 360px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 150vw;
    width: 100%;
    height: 150vw;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 85vw;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 344px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url(https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 92vh;
    width: 100%;
    height: 92vh;
}

  .Prestext {
    color: white;
    width: 85vw;
    height: 40vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 8vw;
  }
  .Prestext-text {
    font-size: 5vw;
    margin: 5vw;
}

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}

/* Dimensiones del Jio Phone 2 FUNCIONA BIEN */
@media (min-width: 240px) and (max-width: 320px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .presentation {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895473/M%C3%B3vil_peque%C3%B1o_ss3szl.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
    width: 100%; /* Ancho del cuerpo */
    height: 150;
  }

  .Prestext {
    color: white;
    width: 75vw;
    height: 86vh;
  }
  .Prestext-title {
    font-weight: bold;
    font-size: 7vh;
    margin-top: 8vw;
}
  .Prestext-text {
    font-size: 4vh;
  }

  .pres-button {
    font-weight: bold;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 20px; /* Para darle la forma redondeada */
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: #fff;
  }

  .pres-button:hover {
    /* Estilo al pasar el mouse por encima */
    background-color: #ffcc00;
  }

  .pres-button.active {
    /* Estilo cuando el botón está presionado */
    background-color: #ffcc00;
  }

  .PresImg {
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
}