.Programs {
  font-family: "Pally", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;

}


/* Dimensiones del Ordenador de Escritorio*/
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895464/Ordenador_de_escritorio_medio_2_onvbk3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 2.5vw;
    color:  #ffcc00;
    margin: 3vw;
  }
  .Programs-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .Programs-Part{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  
  }
  
  .Programs-image{
   width: 26vw;
   height: 20vw;
   border-radius: 32px;
  }
  
  .Programs-title {
    font-weight: bold;
    font-size: 1.8vw;
    color: white;
    background-color: #FFD700; /* Color amarillo claro */
    width: 22vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom:3px;
  }

  .Programs-text{
    display: flex;
    text-align: justify;
    font-size: 1.2vw;
    color: white;
    width: 28vw;
    height: 12vw;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  
  }
}
/* Dimensiones del Ordenador portátil medio */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895464/Ordenador_de_escritorio_medio_2_onvbk3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
    width: 100%; /* Ancho del cuerpo */
    height: 55vw;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 2.5vw;
    color:  #ffcc00;
    margin-bottom: 3vw;
  }
  .Programs-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .Programs-Part{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  
  }
  
  .Programs-image{
    width: 26vw;
    height: 18vw;
    border-radius: 32px;
  }
  
  .Programs-title {
    font-weight: bold;
    font-size: 1.6vw;
    color: white;
    background-color: #FFD700;
    width: 22vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .Programs-text{
    display: flex;
    text-align: justify;
    font-size: 1.2vw;
    color: white;
    width: 26vw;
    height: 18vw;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  
  }
}

/* Dimensiones del Móvil Grande o Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895462/Ordenador_port%C3%A1til_medio_2_f50qlc.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 110vh;
    width: 100%; /* Ancho del cuerpo */
    height: 110vh;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895461/M%C3%B3vil_grande_o_tablet_2_d1abmt.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* DIMENCIONES PARA COMPUTADORAS*/

/* Dimensiones del Ordenador de Escritorio FUNCIONA */
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  
}

/* Dimensiones del Ordenador portátil medio FUNCIONA */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  
}

/* Dimensiones Ordenador PequeñoFUNCIONA*/
@media (min-width: 900px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    /* Estilos para pantallas de portátiles medianos */
    
}

/* Dimensiones del Kindle Fire HDX FUNCIONA*/
@media (min-width: 800px) and (max-width: 899px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
    /* Estilos para pantallas de portátiles medianos */
    
}

/* Dimensiones del Tablet 6 */
@media (min-width: 768px) and (max-width: 799px){
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Tablet 5*/
@media (min-width: 730px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Tablet 4*/
@media (min-width: 720px) and (max-width: 729px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Samsung Galaxy Tab S4 */
@media (min-width: 712px) and  (max-width: 719px){
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del table  3 */
@media (min-width: 700px) and (max-width: 711px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del table  2 */
@media (min-width: 681px) and (max-width: 699px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del table  1 */
@media (min-width: 651px) and (max-width: 680px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del table Microsoft Lumia 550 */
@media (min-width: 640px) and  (max-width: 650px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}
/* Dimensiones del Blackberry Playbook */
@media (min-width: 620px) and (max-width: 639px)  {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Blackberry Playbook */
@media (min-width: 600px) and (max-width: 619px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones Grande   2*/
@media (min-width: 560px) and (max-width: 599px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones  Grande  1*/
@media (min-width: 530px) and (max-width: 559px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
 
}

/* Dimensiones  Mediano-grande 2 */
@media (min-width: 511px) and (max-width: 529px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Móvil Mediano-grande 1 */
@media (min-width: 496px) and (max-width: 510px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Móvil Nokia N9 */
@media (min-width: 480px) and (max-width: 495px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Móvil Mediano  */
@media (min-width: 430px)  and (max-width: 479px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 429px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  
}

/* Dimensiones del Móvil Iphone XR FUNCIONA BIEN */
@media (min-width: 414px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  
}

/* Dimensiones del Móvil Moto G Power FUNCIONA BIEN */
@media (min-width: 410px) and (max-width: 413px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  
}

/* Dimensiones del Pixel 3XL FUNCIONA BIEN */
@media (min-width: 393px) and (max-width: 409px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  
}

/* Dimensiones del Iphone 12 PRO FUNCIONA BIEN */
@media (min-width: 390px) and (max-width: 392px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  
}

/* Dimensiones del Móvil LG Optimus L70 FUNCIONA BIEN */
@media (min-width: 384px) and (max-width: 390px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 630vw;
    width: 100%;
    height: auto;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}

/* Dimensiones del Móvil Iphone X FUNCIONA BIEN */
@media (min-width: 374px) and (max-width: 384px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 630vw;
    width: 100%;
    height: auto;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}

/* Dimensiones del Móvil Samsung Galaxy S8 FUNCIONA BIEN */
@media (min-width: 360px) and (max-width: 374px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 630vw;
    width: 100%;
    height: auto;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}

/* Dimensiones del Galaxy Z Fold 5 FUNCIONA BIEN */
@media (min-width: 344px) and (max-width: 360px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 630vw;
    width: 100%;
    height: auto;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 344px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 485vh;
    width: 100%;
    height: auto;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}

/* Dimensiones del Jio Phone 2 FUNCIONA BIEN */
@media (min-width: 240px) and (max-width: 319px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 485vh;
    width: 100%;
  }
  .tittle-Programs{
    font-weight: bold;
    font-size: 10vw;
    color: #ffcc00;
    margin: 9vw;
  }
  .Programs-image{
    width: 80vw;
    height: 60vw;
    border-radius: 32px;
  }
  .Programs-title {
    display: inline-block;
    font-weight: bold;
    font-size: 8vw;
    color: white;
    background-color: #FFD700;
    width: 80vw;
    border-radius: 15px;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .Programs-text{
    padding: 7vh;
    text-align: justify;
    font-size: 6vw;
    color: white;
    border-radius: 15px;
  }
}