.Programs {
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.Programs-Content{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Dimensiones del Ordenador de Escritorio*/
@media (min-width: 1441px) and (max-width: 3840px) {
  /* Estilos para pantallas de portátiles medianos */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895464/Ordenador_de_escritorio_medio_2_onvbk3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}
/* Dimensiones del Ordenador portátil medio */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para pantallas de portátiles medianos */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895464/Ordenador_de_escritorio_medio_2_onvbk3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}

/* Dimensiones del Móvil Grande o Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895462/Ordenador_port%C3%A1til_medio_2_f50qlc.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    width: 100%; /* Ancho del cuerpo */
    height: 95vh;
  }
}

/* Dimensiones del Móvil Mediano */
@media (min-width: 426px) and (max-width: 767px) {
  /* Estilos para dispositivos más grandes que un móvil y más pequeños que una tablet */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895461/M%C3%B3vil_grande_o_tablet_2_d1abmt.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}

/* Dimensiones del Móvil FUNCIONA BIEN */
@media (min-width: 320px) and (max-width: 425px) {
  /* Estilos para dispositivos móviles con estas dimensiones */
  .Programs {
    background-image: url("https://res.cloudinary.com/dmyppqapj/image/upload/v1724895459/M%C3%B3vil_peque%C3%B1o_2_mtxfgv.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    width: 100%; /* Ancho del cuerpo */
    height: 90vh;
  }
}
